/target
vault.data
.DS_Store
/demo
vault.json
/virtual-fido
/virtual-fido-linux
/virtual-fido-vhid
/virtual-fido_dkit_arm64
/client.test
/seed.hex
/*.txt
/mac/build/
/mac/USBDriver/build/
/mac/output/
/transport/*/output/
/output/
/USBDriverInstaller.app/
/videos/
