<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>id.bulwark.virtual-fido</string>
    <key>CFBundleName</key>
    <string>Virtual FIDO</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>This app needs input monitoring to simulate a FIDO security key.</string>
</dict>
</plist>
